header {
  height: auto;
  background-color: yellow;  
  color: rgb(14, 29, 68);
}

.main {
    height: auto;
    background-color: pink;
}

.font {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.text {
 color: purple;
}

footer {
    height: 200px;
    background-color: teal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}